{% extends "NearBuySiteBundle::account_layout.html.twig" %}

{% block content %}
    <div class="edit">
        {{ form_start(form, { 'action': path('nearbuy_site_account_changepassword'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <h1>Modification du mot de passe</h1>

        <div class="row">
            {{ form_label(form.current_password, null,  { 'label_attr': {'class': 'col-sm-6'} }) }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password, { 'attr': {'class': 'col-sm-6'} }) }}
        </div>
        <div class="row">
            {{ form_label(form.plainPassword.first, null,  { 'label_attr': {'class': 'col-sm-6'} }) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'col-sm-6'} }) }}
        </div>
        <div class="row">
            {{ form_label(form.plainPassword.second, null,  { 'label_attr': {'class': 'col-sm-6'} }) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'col-sm-6'} }) }}
        </div>

        <input class="btn btn-primary btn-animated" type="submit" value="{{ 'profile.change_password.submit'|trans }}" />

        {{ form_end(form) }}
    </div>
{% endblock %}


