<li>
    <a href="{{ path("nearbuy_site_account_show") }}" class="ignore"><i class="fa fa-user-circle-o"></i></a>
    <ul class="sous-menu">
        <div class="sous-menu-container">
            <li><a href="{{ path("nearbuy_site_account_show") }}">Mon profil</a></li>
            <li><a href="{{ path("nearbuy_site_account_edit") }}">Modifier profil</a></li>
            <li><a href="{{ path("nearbuy_site_account_settings") }}">Paramètres</a></li>
            <li><a href="{{ path("nearbuy_site_account_categories") }}">Préférences</a></li>
            <li class="logout-menu"><a  href="/logout">Se déconnecter</a></li>
        </div>
    </ul>
</li>